:root {
	--black: #333333;
	--background-white: #fcfcfc;
	--foreground-white: #ffffff;
	--link-blue: #2b66d4;
	--bar-grey: #e6e6e6;
}

body {
	font-family: Roboto, sans-serif;
	background-color: var(--background-white);
	color: var(--black);
	margin: 10px;
}

/* CONTENT */

div.pane {
	overflow: hidden;
	margin: 10px 20%;
	padding: 5px;
	background-color: rgba(0,0,0,0.05);
	border-radius: 4px;
	display: flex;
	flex-direction: column;
}

/* ROWS AND CARDS */

div.card {
	flex: 100%;
	background-color: var(--foreground-white);
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
	border-radius: 2px;
	margin: 5px;
}

div.cardcontent {
	padding: 10px;
}

div.columns {
	display: flex;
}

div.column-half {
	width: 50%;
}

p {
	padding: 0;
	margin: 10px;
	line-height: 18pt;
}

p.line {
	margin: 0 10px;
}

p.proof::before {
	font-style: italic;
	font-weight: bold;
	content: 'Proof.';
	
}

p.theorem {
	font-style: italic;
}

p.theorem::before {
	font-style: normal;
	font-weight: bold;
	content: 'Theorem.'
}

p.image {
	text-align: center;
}

p.image > img {
	border-radius: 2px;
}

p.caption {
	text-align: center;
	font-style: italic;
	font-size: small;
}

span.theorem {
	font-style: normal;
	font-weight: bold;
}

span.theorem::before {
	content: ' (';
}

span.theorem::after {
	content: ')';
}

p.proof::after {
	content: '\25fc';
}

h1, h2, h3, h4 {
	padding: 0;
	margin: 10px;
}

h1 {
	text-align: center;
}

h2 {
	text-align: center;
}

h3 {
	padding-bottom: 6px;
	border-bottom: thin solid var(--bar-grey);
}

span.title {
	font-weight: bold;
	font-style: italic;
}

span.title::after {
	content: " – ";
	font-weight: normal;
	font-style: normal;
}

/* Links */

a {
	color: var(--link-blue);
	text-decoration: none;
}

a:hover {
	color: var(--link-blue);
	text-decoration: underline;
}

/* Navigation Links */

div.navbar {
	padding: 0 10px 0;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

div.navbar-left {
	min-height: 42px;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

div.navbar-right {
	height: 42px;
	display: flex;
}

a.navlink {
	padding: 0;
	margin: 12px 10px 9px;
	border-bottom: 3px solid var(--foreground-white);
	transition: border-bottom 0.1s;
	text-decoration: none;
	color: var(--black);
}

a.navlink:hover {
	border-bottom: 3px solid var(--black);
}

a.txt-logo {
	padding: 0;
	width: 26px;
	height: 26px;
	line-height: 26px;
	font-size: small;
	border-radius: 13px;
	background-color: var(--black);
	text-decoration: none;
	color: var(--foreground-white);
	margin: auto 10px auto;
	text-align: center;
	transition: opacity 0.1s;
}

a.txt-logo:hover {
	opacity: 50%;
}

a.img-logo {
	padding: 0;
	width: 26px;
	height: 26px;
	margin: auto 10px auto;
}

a.img-logo > img {
	width: 100%;
	height: 100%;
	transition: opacity 0.1s;
}

a.img-logo > img:hover {
	opacity: 50%;
}

a.highlighted {
	border-bottom: 3px solid black;
}

/* Alignment */

p.justify-space-between {
	display: flex;
	justify-content: space-between;
}

/* Lists */

ul, ol {
	margin: 10px;
	padding: 0 0 0 26px;
}

li {
	margin: 8px 0;
}

ul.no-bullet {
	list-style-type: none;
	padding: 0;
}

ul.left-li-right > li {
	display: flex;
	justify-content: space-between;
}

ul.left-li-right > li:last-child {
	text-align: right;
}

/* Changes for mobile modes */

@media only screen and (max-width: 1000px) {
	div.pane {
		margin: 10px 0;
	}
	div.navbar {
		justify-content: space-evenly;
	}
}